#header, #footer {
  padding: 2rem;
  background-color: #f8f8f8;
  text-align: center;
}

#main {
  padding: 3rem 1rem;
}

#resume {
  padding: 4rem 1rem;
  background-color: #f4f4f4;
}

#works {
  padding: 4rem 1rem;
  background-color: #ffffff;
}
