@use '../base/variables' as *;

.work-item {
  background: $color-card;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  color: #111;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
  }
}
