<header class="site-header">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">Portfolio</div>
      <div class="right-side">
        <div class="nav-links">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="work.html">WORK</a></li>
          </ul>
        </div>
        <button class="hamburger" aria-label="메뉴 열기">
          <span></span>
          <span></span>
          <span></span>
        </button>
       </div> 
    </nav>
  </div>
</header>