<main class="work-page site-main">
  <section class="work-section" id="work">
    <div class="container">
      <div class="intro-text">
        <h1>My Projects</h1>
        <p>제조·설비 시스템부터 사내 운영툴, 브랜드몰까지 다양한 프로젝트에서 UI 기획과 퍼블리싱 전반을 담당하며,
            디자인 시안 제작, SCSS 설계, Vue/Syncfusion 구현, wordprocess/카페24 웹 구축까지 폭넓은 경험을 쌓았습니다.</p>
      </div>
      <div class="work-box">
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-1.png" alt="Main Visual" />
        </div>
        <div class="work-description">
          <p class="category">
          자사 R&D부서
          </p>
          <h3>
          SmartBestie
          </br>
          통합제조시스템 제품개발
          </h3>
          <p class="type">
          UI Design, Web Publishing
          </p>
          <a class="view-work-btn" href="work-detail-1.html">
          <span class="text">VIEW WORK</span>
          <i class="fas fa-angle-right default-icon"></i>
          <i class="fas fa-arrow-right hover-icon"></i>
          </a>
        </div>
      </div>
      <div class="work-box">
        <div class="work-description">
          <p class="category">
          롯데 인프라셀 파견
          </p>
          <h3>
          롯데인프라셀
          <br/>
          MCS(Material Control System) 적용
          </h3>
          <p class="type">
          UX, UI Design, Web Publishing
          </p>
          <a class="view-work-btn" href="work-detail-2.html">
            <span class="text">VIEW WORK</span>
            <i class="fas fa-angle-right default-icon"></i>
            <i class="fas fa-arrow-right hover-icon"></i>
          </a>
        </div>
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-2.png" alt="Main Visual" />
        </div>
      </div>
      <!-- <div class="work-box">
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-3.png" alt="Main Visual" />
        </div>
        <div class="work-description">
          <p class="category">
          중국 프로젝트(V3, BMOT, Tianma) 파견
          </p>
          <h3>
            FMB(Factory Monitoring Board)
          <br/>
            설비 모니터링
          
          </h3>
          <p class="type">
          UI Design, Web Publishing
          </p>
          <a class="view-work-btn" href="work-detail-3.html">
          <span class="text">VIEW WORK</span>
          <i class="fas fa-angle-right default-icon"></i>
          <i class="fas fa-arrow-right hover-icon"></i>
        </a>
        </div>
      </div> -->
      <div class="work-box">
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-4.png" alt="Main Visual" />
        </div>
        <div class="work-description">
          <p class="category">
          자사 마케팅 부서
          </p>
          <h3>
          자사 제품 전체 리브랜딩
          <br/>
          자사 홈페이지 리뉴얼
          </h3>
          <p class="type">
          홈페이지, e-브로슈어 UI Design, Publishing
          </p>
          <a class="view-work-btn" href="work-detail-5.html">
          <span class="text">VIEW WORK</span>
          <i class="fas fa-angle-right default-icon"></i>
          <i class="fas fa-arrow-right hover-icon"></i>
        </a>
        </div>
      </div>
      <div class="work-box">
        <div class="work-description">
          <p class="category">
          자사 R&D부서
          </p>
          <h3>
          APM(Apm Project Management)
          <br/>
          사내 사업관리 시스템
          </h3>
          <p class="type">
            UI Design, Web Publishing
          </p>
          <a class="view-work-btn" href="work-detail-4.html">
          <span class="text">VIEW WORK</span>
          <i class="fas fa-angle-right default-icon"></i>
          <i class="fas fa-arrow-right hover-icon"></i>
        </a>
        </div>
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-5.png" alt="Main Visual" />
        </div>
      </div>
      <div class="work-box">
        <div class="work-thumbnail">
          <img src="assets/img/project-visual-6.png" alt="Main Visual" />
        </div>
        <div class="work-description">
          <p class="category">
          개인작업
          </p>
          <h3>
            NUODY 누오디
          <br/>
           프로틴쉐이크 브랜드 브랜드 디자인
          </h3>
          <p class="type">
           전체브랜드 디자인, 자사몰 퍼블리싱
          </p>
          <a class="view-work-btn" href="work-detail-6.html">
          <span class="text">VIEW WORK</span>
          <i class="fas fa-angle-right default-icon"></i>
          <i class="fas fa-arrow-right hover-icon"></i>
        </a>
        </div>
      </div>

    </div>
  </section>
</main>
