
body {
  font-family: 'Pretendard', sans-serif;
  background-color: $color-bg;
  color: $color-text;
  line-height: 1.6;
}

#header, #footer {
  padding: 2rem;
  background-color: #000;
  text-align: center;
}

#main {
  padding: 3rem 1rem;
}
